body{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
  background-color: #808080;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /*v1*/
}

.errorText {
  font-size: 1.2em;
  font-weight: 800;
  color: rgb(179, 4, 4);
  font-family: "Courier New", Courier, monospace;
}

.errorDiv {
  background-color: #32323250;
  padding: 1.4em;
  border-radius: 1em;
}

.inputs {
  padding: 1.2em;
  margin-inline: 1.2em;
  border-radius: 1em;
  outline: .2em solid black;
  background-color: #646464;
  position: relative;
  max-width: min-content;

  display: grid;
  gap: .4em;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr;
  input{
    outline: 0;
    padding: .4em;
    font-weight: 600;
  }
  & *{
    border-radius: .5em;
    outline: .2em solid black;
  }
}

.color {
  height: 60px;
  width: 100%;
  background-color: #323232;
  grid-column: 1 / 3;
}

.-red {
  background-color: red;
}
.-yellow {
  background-color: yellow;
}
.-green {
  background-color: green;
}
